<h1>Client List</h1>
<h3>template</h3>
<h5><%= link_to @template.nickname, template_path(@template) %></h5>
<p><%= show_address(@template) %></p>

<h3>Clients</h3>
<ul>
  <% @clients.each do |client| %> 
    <li><%= link_to client.name, client_path(client) %></li>
  <% end %>
</ul>