<div class="zoom">
<h1>templates <%= link_to "+ New", new_template_path %></h1>
<% if @templates.any? %>
<div class="row">
  <div class="col-sm-5 hidden-xs">
    <h3>Nickname</h3>
  </div>
  <div class="col-sm-4 hidden-xs">
    <h3>Address</h3>
  </div>
  <div class="col-sm-3 hidden-xs">
    <h3>Appointments</h3>
  </div>
</div>
<% else %>
<p>No templates yet.</p>
<% end %>
<div class="templates">
  <%= render partial: "template_index", collection: @templates, as: :template %>
</div>

</div>
