<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">A way to keep up with all of your clients and their favorite locations while tracking all the money you make from each client, in a way becoming your own booking team/staff.</p>
                <a href="users/sign_up" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
