<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Download My Resume... It's Freeee!!!</h2>
            <a href="Kalil-Williams.pdf" type="submit" class="btn btn-default btn-xl wow tada" download>DOWNLOAD NOW!!</a>
        </div>
    </div>
</aside>
