<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Download My Resume... It's Freeee!!!</h2>
            <a href="KalilW-Resume.docx" type="submit" class="btn btn-default btn-xl wow tada" download>DOWNLOAD NOW!!</a>
            <br>
            <a href="https://kalilw.herokuapp.com/">Veiw Online Resume</a>
        </div>
    </div>
</aside>
