<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
              <%= link_to fa_icon("phone"), root_path, class:'fa-4x bounceIn' %>
                <p>786-661-9324</p>
            </div>
            <a href="mailto:wkalil416@gmail.com">
            <div class="col-lg-4 text-center">
              <%= link_to fa_icon("envelope-o"), "mailto:wkalil416@gmail.com", class:'fa-4x bounceIn' %>

                <p>wkalil416@gmail.com</p>
            </div>
          </a>
        </div>
    </div>
</section>
