<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Track Your Clients, Appointment & More...</h1>
            <hr>
            <p>Start tracking your appointments with ease</p>
            <a href="users/sign_up" class="btn btn-primary btn-xl page-scroll">Sign Up Now</a>
        </div>
    </div>
</header>
