<h1>Appointments <%= link_to "Book Me!", templates_path %></h1>
<div id="fadeshow1">
  <%= add_weekly_calendar(@appointments) %>
</div>



  <%= render 'upcoming_appointments' if !@upcoming_appointments.nil?  %>
