<% if current_page?(root_path) %>
<% elsif %>
<nav class="nav dark-nav">
  <div class="container">
    <div id="fadeshow1" class="nav-heading">
      <button class="toggle-nav" data-toggle="open-navbar1"><i class="fa fa-align-right"></i></button>
      <%# <%= "Appointment Tracker", class: "brand" %>
      <a href="/ " class="brand" >Kalil W....</a>
    </div>
    <div class="menu" id="open-navbar1">
      <ul class="list">

        <%# <li class="categories"><a id="open-categories" data-dropdown="target" disable>Categories <i class="fa fa-caret-down"></i></a>
          <ul class="drop-down" id="target">
            <li><a href="#">Actions</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="sub-drop-down"><a href="#">Another dropdown menu</a>
              <ul class="sub-dropdown">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">One more</a></li>
                <li class="speprator"></li>
                <li><a href="#">Somthething else here</a></li>
              </ul>
            </li>
            <li class="seprator"></li>
            <li><a href="#">Seprated link</a></li>
            <li class="seprator"></li>
            <li><a href="#">One more seprated link.</a></li>
          </ul>
        </li> %>
          <%# <li><%= link_to "Clients", clients_path %>
          <li><%= link_to "Templates", templates_path %></li>
          <li><%= link_to "Book Me!", appointments_path %></li>
      </ul>
    </div>
  </div>
</nav>
<% end %>
